*{
  margin:0;
  padding: 0;
}
.w3-large  , p , strong {
  color: black;

}
.parrafo{
  color: black;

}
.eslogan{
  margin-left: 2em;
}
#sobreNosotros{
  /*text-align: justify;*/
  margin-left: 45px;
  margin-right: 45px;
  margin-top: 60px;

}
#sobreNosotros strong{
 color:white;
}

.sobreNosotrosResumen{
  font-size: 20px; 
  text-align: justify;
}
.logocentro{
  left:50%;
  right:50%;
  position:static;
}
#menuFaq{
	color: black;
}

.tituloCuestionarioFaq{
	margin: 0px;
	width: 0px;
	height: 50px;
  margin-top: 45px;
  margin-left: 160px;

}
.celdaFaq-p{
  
	width: 100%;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    background: transparent;
    border: 1px solid #EDEDED;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    outline: none;
    color: #ffffff;

}
.celdaFaq-r {
  
	width: 100%;
	height: 100%;
    text-align: left;
    padding-left: 15px;
    padding-top: 5px;
    background: #242830;
    border: 1px solid #EDEDED;
    border-radius: 20px;
    margin-bottom: 20px;
    font-size: 15px;
	font-family: cursive;
    outline: none;
    color: #ffffff;
}
.responsive{
  height:auto;
}
#contact-info-faq {
    padding-top: 55px;
padding-left: 80px;
max-width: 100%;
   
}

#panelFaq{
  width: 70%;
margin-left: 14em;
}
#footer-bg-faq{
  margin-left: 26em;
}

#about{
   border: 2px solid white;
    border-radius: 30px;
    background-color: #242830;
}
.footerFaq{
  width: 100%;
}
.social{
  margin-left: 4em;
}

@media screen and (max-width: 986px) and (min-width: 768px){
.tituloCuestionarioFaq{
  margin-left: 120px;
}

#contact-info-faq{
    padding-left: 30px;
    margin-left: 50px;
  }
.main2-1{
    width: 100%;
    padding-top: 30px;
    margin-left: -50px;
    padding-right: 1px;
  }
/*.celdaFaq-p{
    height: 90px;
  }*/
#panelFaq{
    margin-left: 10em;
  }
#footer-bg-faq{
    margin-left: 16em;
  }
.copyright{
    margin-left: -45px;
  }
}



@media screen and (max-width: 766px) and (min-width: 725px){

.responsive{
  height:auto;
}
.main2-1{
  margin-left: -30px;
}
.cuestionarioFaq{
  margin-left: 95px;
  margin-top: 40px
}

#contact-info-faq{
    padding-left: 20px;
}
#panelFaq{
    margin-left: 7em;
}

#footer-bg-faq{
  margin-left: 9em;
}
}
@media only screen and (max-width: 615px) and (min-width: 560px){
 .responsive{
  height:auto;
}

#panelFaq{
    margin-left: 6em;
  }
#footer-bg-faq{
  margin-left: 5em;
}
}