p{
	color:black
}
h1, h2, h3, h4, h5, h6{
	color:black;
}
div p{
	color:black;
}

/*footer estilos*/
.Page{
 margin-top: 60px;
}
.carta{
    s
}
footer {
    padding: 30px;
    color: #fff;
    text-align: center;
    background-color: #242830;
    margin-bottom: -3em;
    width: 100% !important;
}
.tecno{
    margin-top: -8em;
}

footer h3{
	color:white !important;
}
.tecno ul li {

    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 60px;
    margin-right: 10px;
    font-size: 30px;
    flood-color: white;
     
}

.footer a
{
    color: #ceccdc;
}

.credits {
    padding-top: 10px;
}

/*estilos colunas footer*/

.lista1{
    position: static;
    width: 50%;
    float: left;
}

.lista2{
    float: left;
    width: 50%;
}


.lista3{
    width: 50%;
    position: relative;
    margin-left: 20em;
    top: -10em;
}

/*fin estilos columnas footer*/

.abt-hd{
    color:white !important;
    background-color: transparent !important;
}
mark{
    color:white !important;
    background-color: transparent !important;
}